@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#container-div {
  background-color: #D45943;
  border-radius: 15px; 
  padding: 10px;
}

#mobile-container {
  background-color: #D45943;
}

body {
  background-color: #191B1B;
}

textarea {
  width: 100%;
  height: 130px;
  font-family: 'arial';
}

input {
  width: 100%;
  font-family: 'arial';
}

h1 {
  font-family: 'Bebas Neue' !important;
}

.white {
  color: white;
}

.black {
  color:#191B1B;
}

.grey {
  color: grey;
}

.dark-background {
  background-color:#191B1B;
}

.nav-background {
  background-color: #D45943;
}

.card {
  margin: 20px;
  padding: 8px;
}

.subContainer{
  margin-left: 60px;
}

.center-text {
  text-align: center
}

.music-container{
  width: 50%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

body {
  font-family: 'Bebas Neue';
}

.album {
  border: 0; 
  width: 100%; 
  height: 274px;
}

.track {
  border: 0; 
  width: 100%; 
  height: 120px;
}

.track-mobile {
  border: 0; 
  width: 100%; 
  height: 42px;
}

.logo {
  font-family: 'Bebas Neue' !important;
  /* font-weight: bold !important; */
  color:#191B1B;
  text-decoration: none;
}

.logo:hover {
  color:white;
}

.image {
  height: 40%;
  width: 40%;
}

.wordmark {
  height: 4em;
}

.show_image {
  max-height: 200px;  
  width: auto; 
}

.presale_link {
  color: #D45943;
}
